@import '../../Style/Mixins';

.block {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.24), inset 0px 1px 1px rgba(0, 0, 0, 0.14);
    border-radius: 22px;
    cursor: pointer;
    position: relative;
    transition: 0.38s ease-in-out;
    z-index: 2;
    @include fluid(width, 40px, 60px);
    @include fluid(height, 20px, 30px);
}
.item {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(91.42deg, #2f69ff 0%, #bc2fff 100%);
    border-radius: 50%;
    transition: 0.38s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fluid(width, 15px, 23px);
    @include fluid(height, 15px, 23px);
    &::before {
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.38s ease-in-out;
        content: '';
        @include fluid(width, 9px, 13px);
        @include fluid(height, 9px, 13px);
    }
}
